[build]
  publish = "public"
  command = "node scripts/build.js"

[[headers]]
  for = "/*"
  [headers.values]
    X-Frame-Options = "DENY"
    X-XSS-Protection = "1; mode=block"
    X-Content-Type-Options = "nosniff"

# Enforce clean URLs
[build.processing]
  skip_processing = false
[build.processing.html]
  pretty_urls = true
